<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="\_pos"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/release/xstore/xstore/lib/dtv-data2.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="UTF-8"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dtv.data2.dataloader.DataLoader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="XST_pos"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms128m -Xmx600m -Ddtv.system.properties.location=${workspace_loc:XST_pos}\system.properties -Ddtv.util.crypto.SecretKeyCipherManager.keyStoreDirectory=${workspace_loc:XST_pos}\res\keys -Ddtv.util.crypto.DtvKeyStoreManager.keyStoreDirectory=${workspace_loc:XST_pos}\res\keys&#13;&#10;-Ddtv.data2.access.pm.PmTypeHelper=dtv.data2.access.pm.SingleDataSourcePmTypeHelper -Ddtv.config.path.-100=:dataloader -Dspring.profiles.active=dataloader -Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:XST_xstore}"/>
</launchConfiguration>
